<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=CHOI;Initial Catalog=Cronn_PRD;Integrated Security=True;Connect Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <!-- SQLServer -->
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">SqlServer</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!-- Fim SQLServer -->
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="command_timeout">60</property>
      <property name="adonet.batch_size">1000</property>
      <property name="current_session_context_class">NHibernate.Context.CallSessionContext</property>
      <property name="show_sql">false</property>
      <property name="format_sql">false</property>
      <property name="hbm2ddl.auto"/>
      <property name="generate_statistics">false</property>
      <mapping assembly="Cronn.Core"/>
      <mapping assembly="Cronn.Core.Tendencia"/>
    </session-factory>
  </hibernate-configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VendaPosSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="VendaPosSOAPPortBinding1"/>
        <binding name="FaturadosSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="FaturadosSOAPPortBinding1"/>
        <binding name="CobrancaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="CobrancaSOAPPortBinding1"/>
        <binding name="BaixaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BaixaSOAPPortBinding1"/>
        <binding name="ProdutoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ProdutoSOAPPortBinding1"/>
        <binding name="ClienteSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ClienteSOAPPortBinding1"/>
        <binding name="ConvenioBancarioSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ConvenioBancarioSOAPPortBinding1"/>
        <binding name="CidadeSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="CidadeSOAPPortBinding1"/>
        <binding name="EstadoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="EstadoSOAPPortBinding1"/>
        <binding name="PaisSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="PaisSOAPPortBinding1"/>
        <binding name="TipoLogradouroSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="TipoLogradouroSOAPPortBinding1"/>
        <binding name="RedeSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="RedeSOAPPortBinding1"/>
        <binding name="AgrupamentoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="AgrupamentoSOAPPortBinding1"/>
        <binding name="LimiteSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="LimiteSOAPPortBinding1"/>
        <binding name="ParametroCobrancaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ParametroCobrancaSOAPPortBinding1"/>
        <binding name="FilialSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="FilialSOAPPortBinding1"/>
        <binding name="UsuarioSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="UsuarioSOAPPortBinding1"/>
        <binding name="RamoAtividadeSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="RamoAtividadeSOAPPortBinding1"/>
        <binding name="ValorPossivelSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ValorPossivelSOAPPortBinding1"/>
        <binding name="ResiduoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ResiduoSOAPPortBinding1"/>
        <binding name="FornecedorSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="FornecedorSOAPPortBinding1"/>
        <binding name="ChipNegociadoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ChipNegociadoSOAPPortBinding1"/>
        <binding name="TerminalNegociadoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="TerminalNegociadoSOAPPortBinding1"/>
        <binding name="TerminalEstabelecimentoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="TerminalEstabelecimentoSOAPPortBinding1"/>
        <binding name="EstabelecimentoAgrupadoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="EstabelecimentoAgrupadoSOAPPortBinding1"/>
        <binding name="TipoTransacaoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="TipoTransacaoSOAPPortBinding1"/>
        <binding name="NegociacaoTituloSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="NegociacaoTituloSOAPPortBinding1"/>
        <binding name="NegociacaoCobrancaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="NegociacaoCobrancaSOAPPortBinding1"/>
        <binding name="LancamentoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="LancamentoSOAPPortBinding1"/>
        <binding name="ContatoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ContatoSOAPPortBinding1"/>
        <binding name="CanalVendaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="CanalVendaSOAPPortBinding1"/>
        <binding name="ClientesRepasseSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ClientesRepasseSOAPPortBinding1"/>
        <binding name="ProdutosRepasseSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="ProdutosRepasseSOAPPortBinding1"/>
        <binding name="VendasRepasseSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="VendasRepasseSOAPPortBinding1"/>
        <binding name="MotivoSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="MotivoSOAPPortBinding1"/>
        <binding name="VisitaConsultorSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="VisitaConsultorSOAPPortBinding1"/>
        <binding name="CanalVendaEstabSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="CanalVendaEstabSOAPPortBinding1"/>
        <binding name="NotaFiscalAuthSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="NotaFiscalAuthSOAPPortBinding1"/>
        <binding name="NotaFiscalProdutoAuthSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="NotaFiscalProdutoAuthSOAPPortBinding1"/>
        <binding name="FilialEmpresaSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="FilialEmpresaSOAPPortBinding1"/>
        <binding name="LocalEstoqueAuthSOAPPortBinding" receiveTimeout="00:02:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="LocalEstoqueAuthSOAPPortBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/vendas" binding="basicHttpBinding" bindingConfiguration="VendaPosSOAPPortBinding" contract="WS.VendaPos.VendaPosSOAP" name="VendaPosSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/faturados" binding="basicHttpBinding" bindingConfiguration="FaturadosSOAPPortBinding" contract="WS.Faturados.FaturadosSOAP" name="FaturadosSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/cobranca" binding="basicHttpBinding" bindingConfiguration="CobrancaSOAPPortBinding" contract="WS.Cobranca.CobrancaSOAP" name="CobrancaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/baixa" binding="basicHttpBinding" bindingConfiguration="BaixaSOAPPortBinding" contract="WS.Baixa.BaixaSOAP" name="BaixaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/produto" binding="basicHttpBinding" bindingConfiguration="ProdutoSOAPPortBinding" contract="WS.Produto.ProdutoSOAP" name="ProdutoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/cliente" binding="basicHttpBinding" bindingConfiguration="ClienteSOAPPortBinding" contract="WS.Cliente.ClienteSOAP" name="ClienteSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/convenioBancario" binding="basicHttpBinding" bindingConfiguration="ConvenioBancarioSOAPPortBinding" contract="WS.ConvenioBancario.ConvenioBancarioSOAP" name="ConvenioBancarioSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/endereco/auth/cidade" binding="basicHttpBinding" bindingConfiguration="CidadeSOAPPortBinding" contract="WS.Cidade.CidadeSOAP" name="CidadeSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/endereco/auth/estado" binding="basicHttpBinding" bindingConfiguration="EstadoSOAPPortBinding" contract="WS.Estado.EstadoSOAP" name="EstadoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/endereco/auth/pais" binding="basicHttpBinding" bindingConfiguration="PaisSOAPPortBinding" contract="WS.Pais.PaisSOAP" name="PaisSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/endereco/auth/tipoLogradouro" binding="basicHttpBinding" bindingConfiguration="TipoLogradouroSOAPPortBinding" contract="WS.TipoLogradouro.TipoLogradouroSOAP" name="TipoLogradouroSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/rede" binding="basicHttpBinding" bindingConfiguration="RedeSOAPPortBinding" contract="WS.Rede.RedeSOAP" name="RedeSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/agrupamento" binding="basicHttpBinding" bindingConfiguration="AgrupamentoSOAPPortBinding" contract="WS.Agrupamento.AgrupamentoSOAP" name="AgrupamentoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/limite" binding="basicHttpBinding" bindingConfiguration="LimiteSOAPPortBinding" contract="WS.Limite.LimiteSOAP" name="LimiteSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/parametroCobranca" binding="basicHttpBinding" bindingConfiguration="ParametroCobrancaSOAPPortBinding" contract="WS.ParametroCobranca.ParametroCobrancaSOAP" name="ParametroCobrancaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/administrativo/auth/filial" binding="basicHttpBinding" bindingConfiguration="FilialSOAPPortBinding" contract="WS.Filial.FilialSOAP" name="FilialSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/acesso/auth/usuario" binding="basicHttpBinding" bindingConfiguration="UsuarioSOAPPortBinding" contract="WS.Usuario.UsuarioSOAP" name="UsuarioSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/ramoAtividade" binding="basicHttpBinding" bindingConfiguration="RamoAtividadeSOAPPortBinding" contract="WS.RamoAtividade.RamoAtividadeSOAP" name="RamoAtividadeSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/valorPossivel" binding="basicHttpBinding" bindingConfiguration="ValorPossivelSOAPPortBinding" contract="WS.ValorPossivel.ValorPossivelSOAP" name="ValorPossivelSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/residuo" binding="basicHttpBinding" bindingConfiguration="ResiduoSOAPPortBinding" contract="WS.Residuo.ResiduoSOAP" name="ResiduoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/fornecedor" binding="basicHttpBinding" bindingConfiguration="FornecedorSOAPPortBinding" contract="WS.Fornecedor.FornecedorSOAP" name="FornecedorSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/chipNegociado" binding="basicHttpBinding" bindingConfiguration="ChipNegociadoSOAPPortBinding" contract="WS.ChipNegociado.ChipNegociadoSOAP" name="ChipNegociadoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/terminalNegociado" binding="basicHttpBinding" bindingConfiguration="TerminalNegociadoSOAPPortBinding" contract="WS.TerminalNegociado.TerminalNegociadoSOAP" name="TerminalNegociadoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/terminalEstabelecimento" binding="basicHttpBinding" bindingConfiguration="TerminalEstabelecimentoSOAPPortBinding" contract="WS.TerminalEstabelecimento.TerminalEstabelecimentoSOAP" name="TerminalEstabelecimentoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/estabelecimentoAgrupado" binding="basicHttpBinding" bindingConfiguration="EstabelecimentoAgrupadoSOAPPortBinding" contract="WS.EstabelecimentoAgrupado.EstabelecimentoAgrupadoSOAP" name="EstabelecimentoAgrupadoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/tipoTransacao" binding="basicHttpBinding" bindingConfiguration="TipoTransacaoSOAPPortBinding" contract="WS.TipoTransacao.TipoTransacaoSOAP" name="TipoTransacaoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/negociacaoTitulo" binding="basicHttpBinding" bindingConfiguration="NegociacaoTituloSOAPPortBinding" contract="WS.NegociacaoTitulo.NegociacaoTituloSOAP" name="NegociacaoTituloSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/negociacaoCobranca" binding="basicHttpBinding" bindingConfiguration="NegociacaoCobrancaSOAPPortBinding" contract="WS.NegociacaoCobranca.NegociacaoCobrancaSOAP" name="NegociacaoCobrancaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/lancamento" binding="basicHttpBinding" bindingConfiguration="LancamentoSOAPPortBinding" contract="WS.Lancamento.LancamentoSOAP" name="LancamentoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/contato" binding="basicHttpBinding" bindingConfiguration="ContatoSOAPPortBinding" contract="WS.Contato.ContatoSOAP" name="ContatoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/canal-venda" binding="basicHttpBinding" bindingConfiguration="CanalVendaSOAPPortBinding" contract="WS.CanalVenda.CanalVendaSOAP" name="CanalVendaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/clientes-repasse" binding="basicHttpBinding" bindingConfiguration="ClientesRepasseSOAPPortBinding" contract="WS.ClientesRepasse.ClientesRepasseSOAP" name="ClientesRepasseSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/produtos-repasse" binding="basicHttpBinding" bindingConfiguration="ProdutosRepasseSOAPPortBinding" contract="WS.ProdutoRepasse.ProdutosRepasseSOAP" name="ProdutosRepasseSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/vendas-repasse" binding="basicHttpBinding" bindingConfiguration="VendasRepasseSOAPPortBinding" contract="WS.VendasRepasse.VendasRepasseSOAP" name="VendasRepasseSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/motivo" binding="basicHttpBinding" bindingConfiguration="MotivoSOAPPortBinding" contract="WS.Motivo.MotivoSOAP" name="MotivoSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/visita-consultor" binding="basicHttpBinding" bindingConfiguration="VisitaConsultorSOAPPortBinding" contract="WS.VisitaConsultor.VisitaConsultorSOAP" name="VisitaConsultorSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/canal-venda-estab" binding="basicHttpBinding" bindingConfiguration="CanalVendaEstabSOAPPortBinding" contract="WS.CanalVendaCliente.CanalVendaEstabSOAP" name="CanalVendaEstabSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/notaFiscal" binding="basicHttpBinding" bindingConfiguration="NotaFiscalAuthSOAPPortBinding" contract="WS.NotaFiscal.NotaFiscalAuthSOAP" name="NotaFiscalAuthSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/financeiro/auth/notaFiscalProduto" binding="basicHttpBinding" bindingConfiguration="NotaFiscalProdutoAuthSOAPPortBinding" contract="WS.NotaFiscalProduto.NotaFiscalProdutoAuthSOAP" name="NotaFiscalProdutoAuthSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/integracao/auth/filialEmpresa" binding="basicHttpBinding" bindingConfiguration="FilialEmpresaSOAPPortBinding" contract="WS.FilialEmpresa.FilialEmpresaSOAP" name="FilialEmpresaSOAPPort"/>
      <endpoint address="https://services.redetendencia.com.br:443/tnd-soa-endpoint/tnd-ws-app/distribuicao/auth/localEstoque" binding="basicHttpBinding" bindingConfiguration="LocalEstoqueAuthSOAPPortBinding" contract="WS.LocalEstoque.LocalEstoqueAuthSOAP" name="LocalEstoqueAuthSOAPPort"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1" maxRequestLength="10240"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>