@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Chart/highcharts.js"></script>
<script src="~/Scripts/Chart/exporting.js"></script>

@*style="min-width: 310px; height: 400px; max-width: 500px; margin: 0 auto"*@

<div class="row">
    <div id="container" class="col-md-4"></div>
    <div id="container1" class="col-md-4"></div>
</div>


<script>
    $(document).ready(function () {
        $.getJSON("/Home/BoletosDciJson", function (result) {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Quantidade de Boletos dos ultimos 5 dias'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
                    //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Canal',
                    colorByPoint: true,
                    data: [{
                        name: 'TENDENCIA',
                        y: result.TENDENCIA
                    }, {
                        name: 'RV',
                        y: result.RV
                    }]
                }]
            });

            Highcharts.chart('container1', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Valor da soma dos boletos dos ultimos 5 dias: ' + result.ValorTotal
                },
                //tooltip: {
                //    pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
                //    //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                //},
                tooltip: {
                    formatter: function () {

                        return this.point.series.name + ': <b> R$' + Highcharts.numberFormat(this.point.y, 1, ',', '.') + '</b>';
                    }
                },

                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Canal',
                    colorByPoint: true,
                    data: [{
                        name: 'Valor Tendencia',
                        y: result.ValorTENDENCIA
                    }, {
                        name: 'Valor RV',
                        y: result.ValorRV
                    }]
                }]
            });
        });
    });
</script>